body {
  height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.fixed-left{
  margin-left: 5%;
  margin-right: 10%;
}

.fixed-right{
  margin-left: 20%;
  margin-right: 5%;
}
.middle{
  margin-left: 5%;
}

.flex-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-guide {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1%;
}
.form-guide .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-guide .form-control:focus {
  z-index: 2;
}
.error{
  color: red;
}